flask[async]
flask-cors
azure-cognitiveservices-vision-customvision
msrest
azure-core
requests
gunicorn
opencv-python-headless==4.10.0.84
openai
python-dotenv
mediapipe==0.10.20
numpy==1.26.4